# Tu string de conexión para MongoDB
MONGO_URI=mongodb+srv://<usuario>:<contraseña>@<cluster-url>/<database>?retryWrites=true&w=majority&appName=<app-name>

# URL del cliente. Default: http://localhost:3000
FRONTEND_URL=

# Puerto del servidor. Default: 4000
PORT=
